.navbar {
    background-color: #060b26;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80px;
    position: fixed;
}

.NavIcons{
    list-style: none;
    justify-content: center;
}

.menu-bars {
    font-size: 2rem;
    background: none;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.closeButtonBox {
    display: flex;
    align-items: center;
    width: 100%;
}

.closeButton {
    color: #f5f5f5;
    font-size: 26px;
    width: 100%;
    padding: 8px 102px 8px 16px;
    margin: 0;
    border-radius: 4px;
    align-items: center;
    display: flex;
}

.CloseButtonCollapse{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 8px;
}

.closeButton svg {
    margin-right: 10px;
}

.closeButton:hover {
    background-color: #1a83ff; /* Background color on hover */
    cursor: pointer;
}

.nav-menu {
    background-color: #060b26;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    align-items: center;
    padding: 8px 0px 8px 0;
    list-style: none;
    height: 60px;
}

.nav-icon {
    display: flex;
    align-items: center;
    padding: 8px 0px 8px 0;
    list-style: none;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.nav-icon a {
    height: 40px;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.nav-icon :hover {
   background-color: white;
}

.smallIcons{
    padding-top: 20px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 4px;
    align-items: center;
    padding: 0 16px;
}

a {
    color: white;
}

.nav-text a:hover {
    background-color: #1a83ff;
}

.nav-menu-items {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
}

.navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}